@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap");

body,
html {
  font-family: "DM Sans", sans-serif;
  line-height: 1.6em;
}

h1 {
  text-align: center;
}
main section {
  position: relative;
}

main section div:first-child {
  display: flex;
  justify-content: center;
}

main div:first-child div:first-child {
  width: 30%;
  background-color: #4e97cd;
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

main div:first-child div:nth-child(2) {
  width: 30%;
  background-color: #4e97cd;
  padding: 20px;
  border-radius: 20px;
  align-self: center;
}

main div:first-child div:nth-child(3) {
  width: 30%;
  background-color: #4e97cd;
  padding: 20px;
  border-radius: 20px;
  margin-left: 10px;
  align-self: center;
}

main section:first-child div:nth-child(4) {
  background-color: #4e97cd;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  align-self: center;
}
pre {
  margin: 0;
}

li {
  margin-top: 1.2em;
}

main section div:nth-child(2) {
  text-align: center;
  margin-top: 1.5em;
  background-color: #4e97cd;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  margin: auto;
}

main section div:nth-child(3) {
  margin-top: 1.5em;
  background-color: #4e97cd;
  border-radius: 20px;
  padding: 10px;
  width: min-content;
  position: absolute;
  left: 35em;
}
