@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap");

body,
html {
  font-family: "DM Sans", sans-serif;
  line-height: 1.6em;
}

h1 {
  text-align: center;
}

main section > div:first-child {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  background-color: #a0f1fc;
  border-radius: 10px;
  padding: 10px;
}

main section > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main section > div:nth-child(2) div,
main section > div:nth-child(3) {
  padding: 10px;
  border: 8px solid transparent;
  border-radius: 10px;
  margin-bottom: 2em;
  text-align: justify;
  width: 40%;
}

main section > div:nth-child(2) > div:first-child {
  background-color: #f5b2c4;
}

main section > div:nth-child(2) > div:nth-child(2) {
  background-color: #d2b0f7;
}

main section > div:nth-child(2) > div:nth-child(3) {
  background-color: #faf769;
}

main section > div:nth-child(3) {
  margin-left: 2em;
  margin-top: 4em;
  background-color: #81f881;
  width: 20%;
}

a {
  color: black;
}
