@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap");

body,
html {
  font-family: "DM Sans", sans-serif;
  line-height: 1.6em;
  background: linear-gradient(#b3f8b3, #81f881);
  height: 100vh;
}
h1 {
  text-align: center;
}

main section > div {
  display: flex;
}

main section > div div {
  margin: 2em;
}

main section > div > div:nth-child(2) {
  margin-left: 4em;
  width: 50%;
  height: 60vh;
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: padding-box; /* Impedisce al gradient di estendersi al di fuori del padding */
  border-image: linear-gradient(to right, #81f881, #cff8cf) 1;
  background-color: white;
}

p {
  margin: 0;
}

textarea {
  border: 6px solid transparent;
  border-image: linear-gradient(to right, #81f881, #cff8cf) 1;
  text-indent: 4px;
}

textarea:focus-visible {
  outline: none;
}
